<!DOCTYPE html>
<html lang="no">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ page.title | default: site.title }}</title>
    <link rel="stylesheet" href="{{ '/assets/css/style.css' | relative_url }}">
</head>
<body>
    <header>
        <!-- Navigation and contact buttons -->
        {{ content }}
    </header>
    <footer>
        <!-- Footer content -->
    </footer>
</body>
</html>
